<h1>About</h1>
<p>The Internet Movie Database brings you the most in depth record of movies that has ever existed. There's no other website on the internet like it. Don't look into it. This is the end all, be all place to go.</p>
